.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.age-button {
  margin-top: 0.5em;
  margin-right: 1em;
  padding: 0.5em 1em;
  background-color: lightblue;
  border-radius: 8px;
}
.gender-button {
  margin-top: 0.5em;
  margin-right: 1em;
  padding: 0.5em 1em;
  background-color: palegreen;
  border-radius: 8px;
}
.default-button {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  background-color: lightsalmon;
  border-radius: 8px;
}
mat-card {
  margin-bottom: 1em;
  width: 360px;
  text-align: center;
}
