<!-- <p>hogwarts-house-card works!</p> -->

<p>{{ score }} points to {{ name }}!</p>
<div>
  <span>
    <button (click)="removeHundPoints()">-100</button>
    <button (click)="removeFiftyPoints()">-50</button>
    <button (click)="removeTenPoints()">-10</button>
    <button (click)="removeFivePoints()">-5</button>
  </span>
  <span>
    <button (click)="addFivePoints()">+5</button>
    <button (click)="addTenPoints()">+10</button>
    <button (click)="addFiftyPoints()">+50</button>
    <button (click)="addHundPoints()">+100</button>
  </span>
</div>
