.highlight {
  border: 1px solid lightgray;
  padding: 0.3em 0.5em;
}

.age-control-button {
  margin-right: 0.5em;
}

.nameChanger {
  margin-right: 0.5em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
